@import url('https://fonts.googleapis.com/css?family=Sniglet&display=swap');

.menu-container {
    position: fixed;
    top: 0;
    width: 50vw;
    height: 100vh;
    background: rgba(91, 174, 139, 0.90);
    transform: translateX(-50vw);
    transition: transform 250ms ease-in-out;
  }
  
  .menu-container.opened {
    display: flex;
    flex-direction: column;
    transform: translateX(0vw);
    transition: transform 500ms ease-in-out;
  }

  .links-container {
    margin-top: 50px;
  }

  .menu-link {
    margin: 30px 0 0 30px;
    display: block;
    font-size: 20px;
    text-decoration: none;
    color: #f6dfaf;
    font-family: 'Sniglet', cursive;
    cursor: pointer;
    transition: all 0.5s;
  }
  .menu-link:hover{
    color: #b95e42;
    transform: scale(0.9);
  }
  .burger {
    position: fixed;
    margin: 12px 0 0 10px;
    width: 30px;
    height: 30px;
    z-index: 2;
    display: block;
    cursor: pointer;
    outline: inherit;
    padding: 3px;
    background-color: #b95e42;
    border-radius: 5px;
  }
  .lines {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
  .line {
    width: 20px;
    height: 4px;
    display: block;
    border-radius: 4px;
    background-color: #f6dfaf;
    margin: 3px auto;
    transition: all 0.3s ease-in-out;
  }
  .burger.is-active .line:nth-child(2) {
    opacity: 0;
  }
  .burger.is-active .line:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }
  .burger.is-active .line:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }

  @media (min-width: 600px) {
    .menu-container {
      width: 25vw;
    }

    .burger {
      padding: 0;
      background-color: transparent;
      border-radius: 0;
    }
  }