.Map {
    float: right;
    position: absolute;
}

.MapForMobile {
    position: fixed;
}

.mapboxgl-ctrl-geocoder{
    border-radius: 100px !important;
    background-color: #f6dfaf !important;
    width: 60vw !important; 
    position: fixed;
    right: 0;
}

.mapboxgl-ctrl-geocoder--button {
    background-color: transparent !important;
}

.marker-btn-container {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-image: url("../../public/images/marker.png");
    box-shadow: 3px 3px 5px 0px rgba(85, 85, 85, 0.5);
    background-size: 30px;
    background-repeat: no-repeat;
}

.marker-btn {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    outline: none;
}

@media (min-width: 600px) {
    .Map{
        visibility: visible;
    }
}