.Map {
    float: right;
    position: absolute;
}

.MapForMobile {
    position: fixed;
}

.mapboxgl-ctrl-geocoder{
    border-radius: 100px !important;
    background-color: #f6dfaf !important;
    width: 60vw !important; 
    position: fixed;
    right: 0;
}

.mapboxgl-ctrl-geocoder--button {
    background-color: transparent !important;
}

.marker-btn {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: solid #a252cd;
    background-color: #c28dde;
}

@media (min-width: 600px) {
    .Map{
        visibility: visible;
    }
}