@import url('https://fonts.googleapis.com/css?family=Sniglet&display=swap');

.Sidebar {
    background-color:#5bae8b;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

.sidebar-content {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 60%;
}

.saveTheFood {
    text-align: center;
    color: #fab700;
    margin-top: 4vh;
}

.infoText {
    margin-top: 3vh;
    color: #f6dfaf;
    width: 80%;
    text-align: center;
}

.goToMenuLink {
    display: block;
    margin-top: 30px;;
    padding: 10px;
    border-radius: 30px;
    text-decoration: none;
    color: #b95e42;
    font-family: 'Sniglet', cursive;
    font-size: 30px;
    font-weight: bolder;
    background-color: #fab700;
}

@media (min-width: 600px) {
    .Sidebar{
        width: 25vw;
    }

    .sidebar-content {
        width: 25vw;
    }

    .logo {
        width: 70%;
    }
}